<mat-toolbar>
  <div class="left" routerLink="/">
    <img src="../../assets/logo1.png" alt="logo" />
    <span>TuniSoul</span>
  </div>
  <div class="middle">
    <a routerLink="/togo">Places To Go </a>
    <a routerLink="/todo">Things To Do </a>
    <a routerLink="/tips">Practical Tips </a>
  </div>
  <div>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>search_outline</mat-icon>
    </button>
    <button
      *ngIf="!getIsAuth"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
      (click)="login()"
    >
      <mat-icon>person</mat-icon>
    </button>

    <button
      *ngIf="getIsAuth"
      mat-icon-button
      style="color: rgb(219, 86, 86)"
      class="example-icon favorite-icon"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
