<div class="all"></div>
<div class="content">
  <div class="slides-content">
    <div class="slides-text">
      <h1>
        Practical Tips for a Trip to Ain Draham, Tunisia
        <img src="../../assets/tunisia.jpg" alt="Tunisia Flag" class="flag" />
      </h1>
      <div class="tip">
        <i class="material-icons icon">calendar_month</i>
        <h3>
          Plan your trip during the spring or fall when the weather is mild and
          pleasant for outdoor activities.
        </h3>
      </div>
      <div class="tip">
        <i class="material-icons icon">directions_bike</i>
        <h3>
          Choose a reputable mountain biking tour operator who can provide
          quality bikes, gear, and experienced guides to ensure your safety and
          enjoyment.
        </h3>
      </div>
      <div class="tip">
        <i class="material-icons icon">severe_cold</i>

        <h3>
          Bring appropriate clothing and footwear for mountain biking, including
          helmets, sturdy shoes, and layers to accommodate changing
          temperatures.
        </h3>
      </div>
      <div class="tip">
        <i class="material-icons icon">water_drop</i>
        <h3>
          Stay hydrated and bring snacks or energy bars to fuel your ride.
        </h3>
      </div>
      <div class="tip">
        <i class="material-icons icon">blur_circular</i>
        <h3>
          Take time to explore the local culture and cuisine, including the
          traditional Berber architecture and delicious Tunisian dishes like
          brik and couscous.
        </h3>
      </div>
      <div class="tip">
        <i class="material-icons icon">hiking</i>
        <h3>
          Consider adding other outdoor activities to your itinerary, such as
          hiking in the nearby Kroumirie Mountains or visiting the stunning
          waterfall at Oued El Abid.
        </h3>
      </div>
      <div class="tip">
        <i class="material-icons icon">nature_people</i>
        <h3>
          Respect the environment and local customs by staying on designated
          trails, avoiding littering, and being mindful of cultural
          sensitivities.
        </h3>
      </div>
      <div class="tip">
        <i class="material-icons icon">preview</i>
        <h3>
          Finally, don't forget to take in the stunning scenery and enjoy the
          thrill of mountain biking in Ain Draham!
        </h3>
      </div>
    </div>
  </div>
</div>
