<div class="all">
  <div class="first-contain">
    <div class="video-section">
      <video autoplay loop muted plays-inline>
        <source src="../../assets/Aerial Shot Of Sunset.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="first-contain-text">
      <div class="first-contain-big-text">Destination in tunisia</div>
      <div class="first-contain-medium-text">
        Tunisia’s four regions and distinct seasons offer seemingly endless
        things to do and see.
      </div>
      <button mat-raised-button>Start</button>
    </div>
  </div>
</div>
<div class="contain">
  <div class="secend-contain">
    <div class="secend-contain-text-section">
      <div class="secend-contain-head-text">Finnish Regions</div>
      <div class="secend-contain-simple-text">
        Tunisia’s four regions all have unique characteristics, and each season
        brings something new to experience. Happy exploring!
      </div>
    </div>

    <div class="secend-contain-card">
      <div class="card">
        <img src="../../assets/first-content1.jpg" alt="" />
      </div>
      <div class="card card-exeption">
        <img src="../../assets/first-content2.jpg" alt="" />
      </div>
      <div class="card">
        <img src="../../assets/first-content3.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="secend-contain">
    <div class="secend-contain-text-section">
      <div class="secend-contain-head-text">Finnish Regions</div>
      <div class="secend-contain-simple-text">
        Tunisia’s four regions all have unique characteristics, and each season
        brings something new to experience. Happy exploring!
      </div>
    </div>

    <!--------------------------------------------------------------------------------------->
    <div class="two-content">
      <div class="mainpage">
        <div class="two-content-flex">
          <div class="two-content-left">
            <div class="two-content-left-absolute">
              <span>
                A whole world of freelance talent at your fingertips
              </span>
            </div>
          </div>

          <div class="two-content-right">
            <div class="two-content-right-item">
              <span>The best for every budget</span>
              <h3>
                Find high-quality services at every price point. No hourly
                rates, just project-based pricing.
              </h3>
            </div>
            <div class="two-content-right-item item2">
              <span>Quality work done quickly</span>
              <h3>
                Find the right freelancer to begin working on your project
                within minutes.
              </h3>
            </div>
            <div class="two-content-right-item">
              <span>Protected payments, every time</span>
              <h3>
                Always know what you'll pay upfront. Your payment isn't released
                until you approve the work.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
